<!DOCTYPE html>
<html>
<head>
	<base href="/">
	<title>{{title}}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <script src="js/vendor/core-js/client/shim.min.js"></script>
    <script src="js/vendor/zone.js/dist/zone.js"></script>
    <script src="js/vendor/reflect-metadata/Reflect.js"></script>
    <script src="js/vendor/systemjs/dist/system.src.js"></script>

    <script src="systemjs.config.js"></script>
</head>
<body>

    <script type="text/javascript">
        console.log('server_session_id: {{serverSessionId}}');
        console.log('server_session_id_validation: {{serverSessionIdValidation}}');
        console.log('server_secret_id: {{serverSecretId}}');
        console.log('server_session_salt: {{serverSessionSalt}}');
        console.log('server_session_secret: {{serverSessionSecret}}');

        localStorage.setItem('server_session_id', '{{serverSessionId}}');
        localStorage.setItem('server_session_id_validation', '{{serverSessionIdValidation}}');
        localStorage.setItem('server_secret_id', '{{serverSecretId}}');
        localStorage.setItem('server_session_salt', '{{serverSessionSalt}}');
        localStorage.setItem('server_session_secret', '{{serverSessionSecret}}');
    </script>

	<my-app>Loading...</my-app>

	<script>
    	System.import('app').catch(function(err){ console.error(err); });
	</script>
</body>
</html>